.header{
    display: flex;
    margin-left: 12.5%;
}

.divisor {
    border-top: 1px solid #E8E3E3;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
    width: 100%;
}

.header #img1{
    float: left;
    margin-left: -85px;
}

.header #p2{
    float: right;
    margin-left: 790px;
    margin-top: 35px;
    color: #FF6600;
    font-size: 18px;
}

.header #p2:hover{
   text-decoration: underline;
}
